In [2]:
#Q.1 
# Database an organized collection of data stored electronically on a computer system
# Designed for efficient data storage, retrieval, management and analysis
# Used in various applications, including banking , E-commerce,social media, inventory management 

# SQL (structured query language) Database 
# Structure data organized in tables with rows and columns
# predefined structured that ensures consistency and data integrity 
# Query language use AQL for data retrieval, manipulation and administration
# Eample MySQL

# No SQL (Not only SQL) Databases
# Structure more flexible data models including:
# key value pairs, document oriented, graph databases, cloumn oriented
# schema dynamic or schema less, allowing for unstructured or semi structured data
# Query language: varying query languages or methods depending on the type of NoSQL database

In [5]:
#Q.2
# DDL(Data definition language) is a subset of SQL commands used to 
# create, modify , and delete the structure of database objects. It's
# essential for defining the blueprint of the daatabase and managing its schema

# Create 
# Purpose:To create new database objects.
# Example CREATE TABLE Customers (CustomerID int , Name varchar(50). Address varchar(255));
# creates a new table named " Customers" with three columns

# Drop
# Purpose: To delete entire database objects
# Example : DROP TABLE Customers;
# Delete the table" Customers" permanently along with all its data

# Alter
# purpose: To modify the structure of existing database objects
# Examples: ALTER TABLE Customers ADD Email varchar(255);
# Adds a new column named "Emaol" to the " Customers" table
# Example: ALTER TABLE Customers DROP COLUMN Address;
# Removes the address column from the customer table

# Truncate
# Purpose: To delete all data from a table quickly, but not the table itself
# Example TRUNCATE TABLE Orders;
# Deletes all rows from the "orders" table, leaving it empty

In [6]:
#Q.3
# DML (Data Manipulation language) is a subset of SQL commands used to 
# manipulate data within database tables.

# INSERT
# Purpose: To add new rows(records) to a table
# Example: INSERT INTO Customers(CustomerID, Name , Address)
# VALUES (1001, 'john doe','123 Main St'):

# UPDATE
# Purpose: To modify existing data within rows of a table,
# Example: UPDATE Customers SET Adress = ' 456 Elm St' WHERE CustomerID = 1001;

# DELETE
# Purpose: To remove rows(records) from a table 
# Example: DELETE FROM Orders WHERE OrderID = 555;

In [1]:
#Q.4 
# DQL (Data Query Language) is a subset of SQL commands used to retrieve
# and manipulate data from a database.

# SELECT
# Purpose: To retrieve data from one or more tables based on specified criteria
# Example
# SELECT Name,City
# FROM Customers
# WHERE Country = 'USA';

In [2]:
#Q.5
# Primary key 
# Unique identifier: A column within a table that uniquely identifies each row
# Database ensures no two rows can have the same value for primary key 

# Foreign key 
# Links tables: A column in one table that references the primary key of another table
# Establishes connections between related data in different tables

In [4]:
#Q.6
'''import mysql.connector
mybd = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
 cursor = mybd.cursor()
mycursor.execute("create DATABASE test2")
 mybd.close()'''
    
# cursor() is a method that creates a cursor object which is used to exxecute
# SQL statements. It is used to traverse through the records of a database

# execute() is a method that is used to execute SQL statements. It takes an SQL 
# statements it

'import mysql.connector\nmybd = mysql.connector.connect(\n    host="localhost",\n    user="abc",\n    password="password"\n)\n cursor = mybd.cursor()\nmycursor.execute("create DATABASE test2")\n mybd.close()'

In [ ]:
#Q.7
#1.FROM 2.WHERE 3.GROUP BY 4.HAVING 5.SELECT 6. D